<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.makekit">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" /> <!-- kyeongmi -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" /> <!-- Ria -->
    <!-- 현 위치 가져오기 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAG" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".makekit_method.KakaoApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MakeKit"
        android:usesCleartextTraffic="true">
        <activity android:name=".makekit_activity.AboutMakeKitActivity"></activity>
        <activity android:name=".makekit_activity.SalesListActivity" />
        <activity android:name=".makekit_activity.SaleProductListActivity" />
        <activity android:name=".makekit_activity.ProductSalesWriteActivity" />
        <activity android:name=".makekit_activity.RegisterReviewActivity" />
        <activity android:name=".makekit_activity.MainActivity">

        </activity>
        <activity android:name=".makekit_activity.TempLogin" />
        <activity android:name=".makekit_activity.EmailCheckActivity" />
        <activity android:name=".makekit_activity.NoticeActivity" />
        <activity android:name=".makekit_activity.ProductList" /> <!-- <activity android:name=".makekit_activity.NoticeActivity" /> -->
        <!-- 구글 API 추가 -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDSE8np8XqqfILhQ7CLcFMC339smKhwItY" />

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" /> <!-- 끝 -->
        <activity android:name=".makekit_activity.MapChattingActivity" />
        <activity android:name=".makekit_activity.WebViewActivity" />
        <activity android:name=".makekit_activity.IntroViewActivity" />
        <activity android:name=".makekit_activity.FindPwActivity" />
        <activity android:name=".makekit_activity.FindIdActivity" />
        <activity android:name=".makekit_activity.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".makekit_activity.OrderViewActivity" />
        <activity android:name=".makekit_activity.PaymentActivity" />
        <activity android:name=".makekit_activity.PurchaseListActivity" />
        <activity android:name=".makekit_activity.ProdutctViewActivity">

        </activity>
        <activity android:name=".makekit_activity.PhoneFindPwActivity" />
        <activity android:name=".makekit_activity.EmailFindPwActivity" />
        <activity android:name=".makekit_activity.ReviewListActivity"></activity>
        <activity android:name=".makekit_activity.LikeSellerActivity" />
        <activity android:name=".makekit_activity.BuyListActivity" />
        <activity
            android:name=".makekit_activity.ChatcontentActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".makekit_activity.MapActivity" />
        <activity
            android:name=".makekit_activity.LoginActivity"
            android:icon="@drawable/img_logo"
            android:theme="@style/Theme.MakeKit.NoActionBar">

            <meta-data
                android:name="com.kakao.sdk.AppKey"
                android:value="@string/kakao_app_key" />

        </activity> <!-- Ria _ KAKAO ReDirect URI -->
        <activity android:name="com.kakao.sdk.auth.AuthCodeHandlerActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <!-- Redirect URI: "kakao{NATIVE_APP_KEY}://oauth“ -->
                <data
                    android:host="oauth"
                    android:scheme="kakaof2d8fb4aeb0237f82647add92f60e987" />
            </intent-filter>
        </activity>
        <activity android:name=".makekit_activity.UserModifyActivity"></activity>
        <activity android:name=".makekit_activity.JoinActivity"
            android:windowSoftInputMode="adjustPan"
            />
        <activity android:name=".makekit_activity.OrderActivity"></activity>
        <activity android:name=".makekit_activity.CartActivity" />
        <activity android:name=".makekit_activity.LikeProductActivity" />
        <activity android:name=".makekit_activity.SearchActivity" />
    </application>

</manifest>